.footer-div{
    min-width: 99vw;
    min-height: 40vh;
    background-color: #264348;
    overflow-x:'hidden' ;
    
}

ul.social > li{
    font-size: 40px;
    overflow-y: hidden;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}