@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  
}

.displayFlex{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.page{
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
.active{
  color: rgba(6, 152, 250, 0.623);
}


.backGround-car{
  background-image: url('https://i.pinimg.com/736x/03/08/34/030834f7223ebfd68a5b7a0749b1659e.jpg');
}
